body {
  font-family: monospace;
  color: slategrey;
}
a {
  font-family: 'Roboto' !important;
}

#main-container {
  padding-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 52rem;
}

#searchbar-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 4.5rem;
}

#searchbar-form {
  width: 80%
}

#searchbar {
  width: 100%;
  height: fit-content;
  padding: 0.8rem 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border-radius: 0.7rem;
  border: 0.2rem solid rgb(192, 190, 190);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#searchbar:focus {
  border: 3px solid slategray;
}

/*#results {*/
/*  width: 70%;*/
/*  height: 45rem;*/
/*}*/

/*#result-container {*/
/*  padding: 1rem;*/
/*  height: 35rem;*/
/*  overflow-y: auto;*/
/*}*/

/*#results-title {*/
/*  font-size: 3rem;*/
/*  margin-top: 0.45rem;*/
/*}*/

/*.result {*/
/*  border-radius: 1rem;*/
/*  border-color: grey;*/
/*  box-shadow: 0.1rem 0.2rem 1rem slategrey;*/
/*  background-color: whitesmoke;*/
/*  padding: 0.9rem;*/
/*  margin-bottom: 1.4rem;*/
/*}*/

/*#results-nav {*/
/*  display: flex;*/
/*  width: 10rem;*/
/*  justify-content: space-around;*/
/*}*/
